body {
    background: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: serif;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

h1{
    font-size: 50px;
    color:orangered;
    text-align: center;
    margin: auto;
}
button {
height: 75px;
}

h2 {
    font-size: 24px;
}
p {
    font-size: 18px;
}

#modal {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none; 
}

#modalTextbox {
	font-family: "Arial";
	background-color: darkslategrey;
    color: orange;
	height: 450px;
	padding: 2%;
	line-height: 120%;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0, 2px 2px rgba(0,0,0,0.2);
}
#modalFooter {
	text-align: right;
}
.modalButton {
	padding: 14px 18px;
    font-size: 20px;
	background-color: darkred;
	border: solid white 2px;
	outline: none;
	border-radius: 3px;
	color: orange;
	font-family: "Serif";
	cursor: pointer;
}
.message_section{
    display: block;
}

.aboutGame{
    float:inline-start;
    background-color: darkred;
    color: orange;
    border: solid white 2px;
    font-size: 20px;
    cursor: pointer;
}

.resetGame{
    float:inline-end;
    background-color: darkred;
    color: orange;
    border: solid white 2px;
    font-size: 20px;
    cursor: pointer;
}


.placeholders {
  background-color: darkred;
  width: 20px;
  height: 20px;
  padding: 20px;
  margin: 5px;
  border: solid white 2px;
  font-size: 30px;
  color: orange;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  cursor: pointer;
}

.answerSpace {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.custom_class {
  background: orange;
  width: 25px;
  height: 25px;
  padding: 25px;
  margin: 10px;
  margin:auto;
  border: solid white 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;

  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}
.aboutGame {
    display: inline-block;
    margin: 30px;
}

.imageSpace{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .messageSpace{
    background:orangered;
    height: 25px;
    width: 500px;
    padding-top: 25px;
   position:absolute;
   top: 600px; */
}

.overlay_bottom {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.overlay_top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
}

#building {
    height: 500px;
    width: 300px;
    display:flex;
}

/* .waterSpray{
    height:100px;
} */

.flame{
    height: 750px;
    width: 700px;
    margin: -100px;
}

.flameAnimation{
    height: 750px;
    animation-name: extinguish;
    animation-duration: 10s;
}
.infernoAnimation{
    animation-name: inferno;
    animation-duration: 3s;
}
.strikeOutAnimation {
    animation-name: strikeOut;
    animation-duration: 1s;
}

@keyframes extinguish {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes inferno {
    from {height: 750px}
    to {height: 1200px}
}

@keyframes strikeOut {
    from {background-color: darkred;}
    to {background-color: white;}
}